* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.header > p {
  display: inline-block;
  margin: 0;
}

.header > a {
  text-decoration: none;
}